 $fontregular: @font-face {
    font-family: 'lato-regular';
    src: url(./Font/Lato-Regular.ttf);
}
$fontlato:@font-face {
    font-family: 'lato-thin';
    src: url(./Font/Lato-Thin.ttf);
}
$fontoswald:@font-face{
    font-family: 'oswald';
    src: url(./Font/Oswald-Medium.ttf);
}
