.footer{
   
    background-color:#fff;
    color: #BF6D24;
    height: auto;
      
}
.footer__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center; 
}
.networks__list{
    display: flex;
}
.networks__tittle{
    font-size: 1.5rem;
    margin: 15px 15px;
}
.networks__list{
    margin: 5px 20px;
}
.networks__lis--item{
    padding: 10px;
}
.networks__lis--item a img{
    width: 50px;
    height: 50px;
}
.networks__list{
    font-size: 1rem;
}