.banner{
    background-image: url('../image/pexels-pixabay-301692.jpg');
    height: 80vh;
    background-size: cover;
    
    background-attachment: fixed;
    background-position-y: -250px;
    position: relative;   
}

.banner__text{
    color: #f3780c ;
    position: absolute;
    
    top: 50px;
    left: 100px;
    margin-right: 20px;

}
.banner__text--tittle{
    font-family: 'oswald';
    font-size: 6rem;
    font-weight: bold  ;
    letter-spacing: 5px;
}
.banner__text--description{
    font-family: 'oswald';
    font-size: 1.5rem;
}



.tittleproduct{
    background-image: linear-gradient(45deg,  #1b1919 20%,  #BF6D24  );
    border-radius: 5px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: blue;
    z-index: -3;
}
.tittleproduct__body{
    height: 20vh;
    position: relative;
    
    
    
}
.tittleproduct h2{
    font-family: 'lato-thin';
    font-size: 3rem;
    margin-left: 5rem;
    position: absolute;
   bottom: 25px;
   left: 50px;
   font-weight: bold;
   letter-spacing: 5px;
   
}




.effect{
    transition: box-shadow 0.3s transform 0.3s;
    
}
.effect:hover{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7); 
    transform: scale(1.1);
}
.delivery{
    background-color: #fff;
    height: auto;
    display: flex;
    padding: 0px;
    border-radius: 20px;
    align-items: center ;
}
.delivery__texto{
    color: #BF6D24;
    width: 30vw;
   display: grid;
   grid-template-rows: repeat(3, 200px);
   justify-items: center;
   align-items: center;
}
.delivery__texto h2{
    font-weight: bold;
    margin-left: 2rem;
    text-align: start;
    font-size: 40px;
    margin-bottom: 20px;
}
.delivery__texto p{
    font-size: 20px;
    margin-left: 2rem;
    text-align: left;
    margin-top: 20px;
}
.delivery__texto a{
    padding: 20px;
    background-color: #1b1919;
    border-radius: 10px;
    color: #f3780c;
    text-decoration: none;
    justify-items: center;
}
.delivery__img{
    height: 80vh;
    flex-grow: 1;
    
}
.delivery__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;    
}
.whats{
    position: fixed;
    right: 0;
    bottom: 0;
}
.whats a img{
    height: 100px;
    width: 100px;
    margin: 10px 10px;
}