@media (max-width: 997px) {
    .delivery__texto{
        display: block;
    }
    
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .header__navbar{
        display: none;
    }
    .delivery{
        display: block;
    }
}
@media (max-width: 538px) {
    .product{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .delivery{
        background-color: #BF6D24;
       
    }
    .delivery__texto{
        color: white;
    }
    .delivery img{
        display: none;
    }
    .whats{
        display: none   ;
    }
}
