@font-face {
    font-family: 'lato-regular';
    src: url(./Font/Lato-Regular.ttf);
}
@font-face {
    font-family: 'lato-thin';
    src: url(./Font/Lato-Thin.ttf);
}
@font-face{
    font-family: 'oswald';
    src: url(./Font/Oswald-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'lato-regular';
    background-color:#BF6D24;
    color: white;
}
.encabezado{
    height: auto;
}

.encabezado a img{
    width: 120px;
    height: 120px;
}
.encabezado ul li {
    margin: 0 10px;
    border-bottom: #BF6D24 solid 1px;
    transition: transform 0.3s;
}
.encabezado ul li:active{
    transform: scale(0.9);
}
.encabezado ul li a{
    color: white;
    transition: color 0.3s;
   }
.encabezado ul li a:hover{
    color: #f3780c;
}

.banner{
    background-image: url('./image/pexels-pixabay-301692.jpg');
    height: 80vh;
    background-size: cover;
    
    background-attachment: fixed;
    background-position-y: -250px;
    position: relative;   
}

.banner__text{
    color: #f3780c ;
    position: absolute;
    
    top: 50px;
    left: 100px;
    margin-right: 20px;

}
.banner__text--tittle{
    font-family: 'oswald';
    font-size: 6rem;
    font-weight: bold  ;
    letter-spacing: 5px;
}
.banner__text--description{
    font-family: 'oswald';
    font-size: 1.5rem;
}



.tittleproduct{
    background-image: linear-gradient(45deg,  #1b1919 20%,  #BF6D24  );
    border-radius: 5px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: blue;
    z-index: -3;
}
.tittleproduct__body{
    height: 20vh;
    position: relative;
    
    
    
}
.tittleproduct h2{
    font-family: 'lato-thin';
    font-size: 3rem;
    margin-left: 5rem;
    position: absolute;
   bottom: 25px;
   left: 50px;
   font-weight: bold;
   letter-spacing: 5px;
   
}




.effect{
    transition: box-shadow 0.3s transform 0.3s;
    
}
.effect:hover{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7); 
    transform: scale(1.1);
}
.contenedor{
    position: absolute;
    left: 0px;
    bottom: 5px;
    

}
.beer,
.bubble,
.small-bubbles,
.drip{
    position: absolute;
}
.bubble,
.small-bubbles,
.drip{
    background: white;
}
.bubble,
.small-bubbles{
    border-radius: 100%;

}

.mug{
    position: relative;
    width: 70px;
    height: 120px;
    background: #eef5f8;
    border-radius: 8px;
    
}

.mug::before,
.mug::after {
    position: absolute;
    content: ''; 
}
.mug::before {
 z-index: -2; 
 left: 20px;
    top: 20px;
    width: 80px;
    height: 65px;
    border-radius: 19%;
    background: #eef5f8;
}
.mug::after{
     z-index: -1; 
     left: 25px;
    top: 28px;
    width: 70px;
    height: 50px;
    border-radius: 19%;
    background-image: linear-gradient(45deg,  black 40%,  #BF6D24 );
}
  .beer{
    top: 15px;
    left: 10px;
    width: 50px;
    height: 100px;
    background-color: #FFD36d;
    border-radius: 10px;
}
.beer::before,
.beer::after{
    position: absolute;
    content: '';
    background-color: #f5ae08;
        border-radius: 100%;
}
 
.beer::before{
    animation: 2s up infinite   ;
    width: 5px;
    height: 5px;
    bottom: 10px;
    left: 10px; 
    box-shadow: 20px -50px 0 #f5ae08, 30px -20px 0 #f5ae08, 20px -10px 0 #ffe849;
 }
 .beer::after    {
    animation: 2s up infinite   ;
    width: 5px;
    height: 5px;
    bottom: 15px;
    left: 15px;
    box-shadow: 20px -30px 0 #ffc849, 30px -50px 0 #f5ae08, 30px -70px 0 #f5ae08;
    }
.bubble{
    width: 50px;
    height: 50px;
    top: -25px;
    left: 15px;
}
.bubble::before,
.bubble::after{
    position: absolute;
    content: '';
    background-color: white;
    border-radius: 100%; 
  }

 .bubble::before{
    width: 40px;
    height: 40px;
    left: -30px;
    top: 2px;
}
.bubble::after{
    width: 30px;
    height: 30px;
    left: 35px;
    top: 5px;
}
.small-bubbles{
    width: 15px;
    height: 15px;
    top: -30px;
    left: 30px;

} 
.small-bubbles::before,
.small-bubbles::after{
    content: "";
    position: absolute;
    border-radius: 100%;
    background-color: white;
}
.small-bubbles::before{
    animation: up 3s infinite;
    width: 10px;
    height: 10px;
    top: -6px;
    left: 30px;
    box-shadow: 1vmin -10vmin white;
}
.small-bubbles::after{
    animation: up 3s infinite linear;
    width: 7px;
    height: 7px;
    top: -5px;
    left: -7px;
    box-shadow: 1vmin -11vmin white;
}
.drip{
    width: 20px;
    height: 80px;
    top: 0px;
    border-radius: 100px;
    left: -10px;
    box-shadow: 20px -30px white; 
 }
 @keyframes up {
    0%{transform: translateY(0px);}
    99%{transform: translateY(-70px);}
    100%{opacity: 0;}
}
  
.delivery{
    background-color: #fff;
    height: 80vh;
    display: flex;
    padding: 0px;
    border-radius: 20px;
    align-items: center ;
}
.delivery__texto{
    color: #BF6D24;
    width: 40vw;
}
.delivery__img{
    height: 80vh;
    flex-grow: 1;
    
}
.delivery__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;    
}
.whats{
    position: fixed;
    right: 0;
    bottom: 0;
}
.whats a img{
    height: 100px;
    width: 100px;
    margin: 10px 10px;
}
   
.footer{
   
    background-color:#fff;
    color: #BF6D24;
    height: auto;
      
}
.footer__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center; 
}
.networks__list{
    display: flex;
}
.networks__tittle{
    font-size: 1.5rem;
    margin: 15px 15px;
}
.networks__list{
    margin: 5px 20px;
}
.networks__lis--item{
    padding: 10px;
}
.networks__lis--item a img{
    width: 50px;
    height: 50px;
}
.networks__list{
    font-size: 1rem;
}
@media (max-width: 870px) {
    /* .banner{
        display: none;
    } */
    
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .header__navbar{
        display: none;
    }
    .delivery{
        display: block;
    }
}
@media (max-width: 538px) {
    .product{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .delivery{
        background-color: #BF6D24;
       
    }
    .delivery__texto{
        color: white;
    }
    .delivery img{
        display: none;
    }
    .whats{
        display: none   ;
    }
}




